@import '@/styles/breakpoints.scss';

$arrow-active: #f3785b;
$arrow-inactive: #002050;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes enlargeTop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes enlargeBottom {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.syncContactsContainer {
  width: 100%;
  height: 100%;
  padding: 5.5rem 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.syncContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.688rem;
  padding: 5.5rem 0;
  background: url('../../assets/img_blob.jpg') center no-repeat;
  gap: 1.75rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
}

.syncButton {
  width: 7.75rem;
  height: 7.75rem;
  border-radius: 50%;
  background-color: white;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 4px solid transparent;
    background-color: white;
    transition: background-color 250ms ease-in;
  }

  &.syncing:before {
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, $arrow-active, $arrow-inactive) border-box;
    animation: spin 1.5s linear infinite;
  }
}

.syncButtonTitle {
  text-align: center;
  font-weight: 400;
}

.arrow {
  position: relative;

  path {
    fill: $arrow-inactive;
  }

  &.arrowActive {
    path {
      fill: $arrow-active;
    }
  }

  &.arrowTop.syncing {
    animation: enlargeTop 1.5s linear infinite;
    animation-fill-mode: forwards;
  }

  &.arrowBottom.syncing {
    animation: enlargeBottom 1.5s linear infinite;
    animation-fill-mode: both;
  }
}

@media screen and (max-width: $screen-md) {
  .syncContent {
    flex-direction: column;
    height: unset;
    width: 100%;
    padding: 0 2rem;
  }
}
